doctype html
html
	head
		title City Circle Saturday School
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		block links
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
		link(rel='stylesheet' href='/css/style.css')
		block scripts
	body
		div.container-fluid
			block content
