doctype html
html
	head
		title City Circle Saturday School
		meta(charset="UTF-8")
		block links
		link(rel='stylesheet' href='/stylesheets/style.css')
		block scripts
	body
		block content
